.contacts {
  @extend %list;

  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  @extend %vertical-centered;
  @extend %link;

  color: $secondary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: color $time-transl $cubic-bezier;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
