.logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: $primary-text-color;
  text-decoration: none;
}

.logo__accent {
  color: $accent-color;
}

.logo--footer {
  margin-bottom: 20px;
  color: $primary-color;
}
