.main-button {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: $accent-color;
  color: $primary-color;
  box-shadow: $box-shadow-btn;
  transition: background-color $time-transl $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}

.main-button--footer {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 0 29px;
}

.main-button__icon {
  margin-left: 10px;
  fill: $primary-color;
}
