.is-hidden {
  .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $time-transl $cubic-bezier;

  width: 528px;
  padding: 40px;

  border-radius: 4px;
  background-color: $primary-color;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: $primary-color;
  border: 1px solid $border-close-btn;
  cursor: pointer;

  &:hover .modal__close-btn-icon,
  &:focus .modal__close-btn-icon {
    fill: $accent-color;
  }
}

.modal__close-btn-icon {
  display: block;
  margin: auto;
  fill: currentColor;
  transition: fill $time-transl $cubic-bezier;
}

.modal__title {
  display: block;
  font-size: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
}
