.portfolio-buttons {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons__link {
  border-radius: 4px;
  padding: 6px 22px;
  background-color: $accent-bg-color;
  color: $primary-text-color;
  border: 1px solid transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  transition: 
    background-color $time-transl $cubic-bezier, 
    color $time-transl $cubic-bezier,
    box-shadow $time-transl $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-color;
    box-shadow: 
    0px 3px 1px $box-shodow-fifth, 
    0px 1px 2px $box-shodow-fourth,
    0px 2px 2px $box-shodow-first;
    
    transition: 
    background-color $time-transl $cubic-bezier, 
    color $time-transl $cubic-bezier,
    box-shadow $time-transl $cubic-bezier;
  }
}
